# (실습) 데이터프레임 중심 프로그래밍

In [1]:
import numpy as np
import pandas as pd

**문제 1**

아래의 딕셔너리 `data`를 이용하여 데이터프레임`df1`를 생성한다.

In [2]:
data = {'A' : [0, 5, 15, 20, 25, 30, 35, 40],
        'B' : [1, 2, 3, 4, 5, 6, 7, 8],
        'C' : [3, 3, 3, 3, 3, 3, 3, 3],
        'D' : [4, 2, 9, 1, 20, 3, 15, 17]}

df1 = pd.DataFrame(data)
df1

    A  B  C   D
0   0  1  3   4
1   5  2  3   2
2  15  3  3   9
3  20  4  3   1
4  25  5  3  20
5  30  6  3   3
6  35  7  3  15
7  40  8  3  17

(1) `df1`의 각 열의 합을 계산하는 한 줄 표현식을 작성하여라.

답:

In [3]:
df1.sum(axis=0)

A    170
B     36
C     24
D     71
dtype: int64

(2) `df1`의 각 행의 합을 계산하는 한 줄 표현식을 작성하여라.

답:

In [4]:
df1.sum(axis=1)

0     8
1    12
2    30
3    28
4    53
5    42
6    60
7    68
dtype: int64

**문제 2**

아래 데이터프레임을 생성하기 위해 `pd.date_range()` 함수는 시간으로 구성된 인덱스 자료형을 생성한다.
함수 호출에 사용된 키워드 인자의 의미는 다음과 같다.

- `start="20130101`: 2013년 1월 1일부터 시작
- `periods=6`: 첫째 인자로 지정된 시간부터 6 개의 시간 데이터 샘플 생성
- `freq="D"`: 시간 데이터 샘플을 일(day) 단위로 생성

In [5]:
dates = pd.date_range(start="20130101", periods=6, freq="D")
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
np.random.seed(0)

df = pd.DataFrame(np.random.randn(6, 5), index=dates, columns=list("CDABF"))
df

                   C         D         A         B         F
2013-01-01  1.764052  0.400157  0.978738  2.240893  1.867558
2013-01-02 -0.977278  0.950088 -0.151357 -0.103219  0.410599
2013-01-03  0.144044  1.454274  0.761038  0.121675  0.443863
2013-01-04  0.333674  1.494079 -0.205158  0.313068 -0.854096
2013-01-05 -2.552990  0.653619  0.864436 -0.742165  2.269755
2013-01-06 -1.454366  0.045759 -0.187184  1.532779  1.469359

(1) 열 라벨을 기준으로 오름차순으로 정렬된 데이터프레임을 생성하는 한 줄 표현식을 작성하여라.

답:

In [7]:
df.sort_index(axis=1)

                   A         B         C         D         F
2013-01-01  0.978738  2.240893  1.764052  0.400157  1.867558
2013-01-02 -0.151357 -0.103219 -0.977278  0.950088  0.410599
2013-01-03  0.761038  0.121675  0.144044  1.454274  0.443863
2013-01-04 -0.205158  0.313068  0.333674  1.494079 -0.854096
2013-01-05  0.864436 -0.742165 -2.552990  0.653619  2.269755
2013-01-06 -0.187184  1.532779 -1.454366  0.045759  1.469359

(2) 열 라벨을 기준으로 내림차순으로 정렬된 데이터프레임을 생성하는 한 줄 표현식을 작성하여라.

In [8]:
df.sort_index(axis=1, ascending=False)

                   F         D         C         B         A
2013-01-01  1.867558  0.400157  1.764052  2.240893  0.978738
2013-01-02  0.410599  0.950088 -0.977278 -0.103219 -0.151357
2013-01-03  0.443863  1.454274  0.144044  0.121675  0.761038
2013-01-04 -0.854096  1.494079  0.333674  0.313068 -0.205158
2013-01-05  2.269755  0.653619 -2.552990 -0.742165  0.864436
2013-01-06  1.469359  0.045759 -1.454366  1.532779 -0.187184

(3) `B` 라벨 열의 항목을 기준으로 오름차순으로 정렬된 데이터프레임을 생성하는 한 줄 표현식을 작성하여라.

In [9]:
df.sort_values(by='B')

                   C         D         A         B         F
2013-01-05 -2.552990  0.653619  0.864436 -0.742165  2.269755
2013-01-02 -0.977278  0.950088 -0.151357 -0.103219  0.410599
2013-01-03  0.144044  1.454274  0.761038  0.121675  0.443863
2013-01-04  0.333674  1.494079 -0.205158  0.313068 -0.854096
2013-01-06 -1.454366  0.045759 -0.187184  1.532779  1.469359
2013-01-01  1.764052  0.400157  0.978738  2.240893  1.867558

### 통계

In [10]:
df

                   C         D         A         B         F
2013-01-01  1.764052  0.400157  0.978738  2.240893  1.867558
2013-01-02 -0.977278  0.950088 -0.151357 -0.103219  0.410599
2013-01-03  0.144044  1.454274  0.761038  0.121675  0.443863
2013-01-04  0.333674  1.494079 -0.205158  0.313068 -0.854096
2013-01-05 -2.552990  0.653619  0.864436 -0.742165  2.269755
2013-01-06 -1.454366  0.045759 -0.187184  1.532779  1.469359

`F` 열은 결측치를 제외한 5개의 값의 평균값을 구한다.

In [11]:
df.mean()

C   -0.457144
D    0.832996
A    0.343419
B    0.560505
F    0.934506
dtype: float64

결측치는 모든 연산에서 무시된다.
실제로 `F` 열에서 결측치를 제외한 항목 개수는 5이다.

In [12]:
df.F.value_counts()

F
 1.867558    1
 0.410599    1
 0.443863    1
-0.854096    1
 2.269755    1
 1.469359    1
Name: count, dtype: int64

In [13]:
df.F.value_counts().sum()

6

결측치를 제외한 항목의 합을 5로 나눈 값은 3.8이다.

In [14]:
df.F.sum()/5

1.1214074758839867

축을 지정하면 행 또는 열 기준으로 작동한다.

- 행별 평균값

In [15]:
df.mean(1) # axis=1

2013-01-01    1.450280
2013-01-02    0.025767
2013-01-03    0.584979
2013-01-04    0.216313
2013-01-05    0.098531
2013-01-06    0.281269
Freq: D, dtype: float64

### 사칙연산

In [16]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index = dates)
s

2013-01-01    1.0
2013-01-02    3.0
2013-01-03    5.0
2013-01-04    NaN
2013-01-05    6.0
2013-01-06    8.0
Freq: D, dtype: float64

결측치를 더 추가한다.

참고; [`DataFrame.shift()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shift.html)

In [17]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index = dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

- 행별 뺄셈: `df - s`

In [18]:
df

                   C         D         A         B         F
2013-01-01  1.764052  0.400157  0.978738  2.240893  1.867558
2013-01-02 -0.977278  0.950088 -0.151357 -0.103219  0.410599
2013-01-03  0.144044  1.454274  0.761038  0.121675  0.443863
2013-01-04  0.333674  1.494079 -0.205158  0.313068 -0.854096
2013-01-05 -2.552990  0.653619  0.864436 -0.742165  2.269755
2013-01-06 -1.454366  0.045759 -0.187184  1.532779  1.469359

결측치가 관여하면 무조건 결측치로 처리된다.

In [19]:
df.sub(s, axis='index') # axis=0

                   C         D         A         B         F
2013-01-01       NaN       NaN       NaN       NaN       NaN
2013-01-02       NaN       NaN       NaN       NaN       NaN
2013-01-03 -0.855956  0.454274 -0.238962 -0.878325 -0.556137
2013-01-04 -2.666326 -1.505921 -3.205158 -2.686932 -3.854096
2013-01-05 -7.552990 -4.346381 -4.135564 -5.742165 -2.730245
2013-01-06       NaN       NaN       NaN       NaN       NaN

- 브로드캐스팅: 필요에 따라 자동 적용

In [20]:
df - 5

                   C         D         A         B         F
2013-01-01 -3.235948 -4.599843 -4.021262 -2.759107 -3.132442
2013-01-02 -5.977278 -4.049912 -5.151357 -5.103219 -4.589401
2013-01-03 -4.855956 -3.545726 -4.238962 -4.878325 -4.556137
2013-01-04 -4.666326 -3.505921 -5.205158 -4.686932 -5.854096
2013-01-05 -7.552990 -4.346381 -4.135564 -5.742165 -2.730245
2013-01-06 -6.454366 -4.954241 -5.187184 -3.467221 -3.530641

### 함수 적용

- 참고: [`DataFrame.apply()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html#pandas.DataFrame.apply)

In [21]:
df

                   C         D         A         B         F
2013-01-01  1.764052  0.400157  0.978738  2.240893  1.867558
2013-01-02 -0.977278  0.950088 -0.151357 -0.103219  0.410599
2013-01-03  0.144044  1.454274  0.761038  0.121675  0.443863
2013-01-04  0.333674  1.494079 -0.205158  0.313068 -0.854096
2013-01-05 -2.552990  0.653619  0.864436 -0.742165  2.269755
2013-01-06 -1.454366  0.045759 -0.187184  1.532779  1.469359

- 열별 누적합

In [22]:
df.apply(np.cumsum)

                   C         D         A         B         F
2013-01-01  1.764052  0.400157  0.978738  2.240893  1.867558
2013-01-02  0.786774  1.350246  0.827381  2.137674  2.278156
2013-01-03  0.930818  2.804519  1.588419  2.259349  2.722020
2013-01-04  1.264492  4.298598  1.383260  2.572417  1.867924
2013-01-05 -1.288497  4.952217  2.247696  1.830252  4.137679
2013-01-06 -2.742863  4.997975  2.060513  3.363031  5.607037

- 행별 누적합

In [23]:
df.apply(np.cumsum, axis='columns') # axis=1

                   C         D         A         B         F
2013-01-01  1.764052  2.164210  3.142948  5.383841  7.251399
2013-01-02 -0.977278 -0.027189 -0.178547 -0.281766  0.128833
2013-01-03  0.144044  1.598317  2.359355  2.481030  2.924893
2013-01-04  0.333674  1.827753  1.622595  1.935663  1.081567
2013-01-05 -2.552990 -1.899371 -1.034935 -1.777100  0.492655
2013-01-06 -1.454366 -1.408607 -1.595791 -0.063012  1.406347

- 열별 최대값과 최소값의 차이. 결측치는 무시

In [24]:
df.apply(lambda x: x.max() - x.min())

C    4.317042
D    1.448321
A    1.183896
B    2.983058
F    3.123850
dtype: float64

- 행별 최대값과 최소값의 차이. 결측치는 무시

In [25]:
df.apply(lambda x: x.max() - x.min(), axis=1)

2013-01-01    1.840736
2013-01-02    1.927366
2013-01-03    1.332598
2013-01-04    2.348175
2013-01-05    4.822744
2013-01-06    2.987145
Freq: D, dtype: float64